{% extends "base.html" %}  <!-- Extiende la plantilla base -->

{% block content %}

{% set month_names = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
                        "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"] %}

<form action="{{url_for('editData')}}" method="POST" xmlns:border-color="http://www.w3.org/1999/xhtml">  <!-- Formulario que envía los datos al endpoint 'editData' usando el método POST -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="notification is-{{category}}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <article class="tile is-child box p-6">
        <label><b>Editar Datos</b></label>  <!-- Etiqueta de encabezado para la sección de edición de datos -->
    </article>
    <div class="columns p-6">
        <div class="column is-half is-parent is-vertical p-6">
            <article class="tile is-child box p-6 " >
                <h3>Fecha</h3>
                <!-- Selectores personalizados para mes y año -->
                <select id="month" name="month" class="selector">
                    {% for i in range(12): %}
                        <option {{ 'selected' if i == month else '' }} value="{{ i }}">
                            {{ month_names[i] }}
                        </option>
                    {% endfor %}
                </select>
                <select id="year" name="year" class="selector">
                    {% for i in range(2023, 2076): %}
                        <option value="{{ i }}" {{'selected' if i == year else '' }}>
                            {{ i }}
                        </option>
                    {% endfor %}
                </select>
            </article>
            <article class="tile is-child box p-6">
                <h3>Festivos</h3>
                <div class="table-container">
                    <table class="table is-fullwidth is-striped">
                        <thead>
                            <th>ID</th>
                            <th>Inicio</th>  <!-- Encabezado de la columna Inicio -->
                            <th>Fin</th>  <!-- Encabezado de la columna Fin -->
                        </thead>
                        {% for i in range(0, nFestivosData) %}  <!-- Bucle para iterar sobre los datos de festivos -->
                            <tr>
                                <td style="color:white">{{i + 1}}</td>
                                <td><input type="date" name="festIni" value="{{festData[i]['st']}}" min="2023-1-1" max="2100-12-31"></td>  <!-- Campo de entrada para la fecha de inicio del festivo -->
                                <td><input type="date" name="festFin" value="{{festData[i]['ed']}}" min="2023-1-1" max="2100-12-31"></td>  <!-- Campo de entrada para la fecha de fin del festivo -->
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <button style= "background-color:#b300ff; color:white" class="button is-block is-info is-fullwidth" name="AddFestivoRow"><b>Añadir Fila</b></button>  <!-- Botón para añadir una fila nueva a los festivos -->
                <button style= "background-color:Tomato; color:white" class="button is-block is-danger is-fullwidth" name="PopFestivoRow"><b>Eliminar Fila</b></button>
            </article>
        </div>
        <div class="column is-half is-parent is-vertical p-6">
             <article class="tile is-child box p-6">
                <h3>Carpeta</h3>
                <input type="number" name="folder" value="{{folder}}" min=1 max=99/>  <!-- Campo de entrada para el número de folder con restricciones de mínimo y máximo -->
             </article>
             <article class="tile is-child box p-6">
    <h3>Horarios</h3>

    <div class="table-container">
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Hora</th>  <!-- Encabezado de la columna Hora -->
                    <th>Duración</th>  <!-- Encabezado de la columna Duración -->
                    <th>Volumen</th>  <!-- Encabezado de la columna Volumen -->
                </tr>
            </thead>
            <tbody>
                {% for i in range(0, nHorariosData) %}  <!-- Bucle para iterar sobre los datos de horarios -->
                <tr>
                    <td style="color:white">{{i + 1}}</td>
                    <td><input type="time" name="time" value="{{horariosData[i]['time']}}"/></td>  <!-- Campo de entrada para la hora del horario -->
                    <td><input type="text" name="rep" value="{{horariosData[i]['rep']}}" title="segundos"/></td>  <!-- Campo de entrada para la duración del horario -->
                    <td>
                        <input type="range" name="vol" value="{{horariosData[i]['vol']}}" min="5" max="30" oninput="updateVolume(this, {{i}})"/>
                        <span id="volPercent{{i}}" style="color:white">{{horariosData[i]['vol']}}/30</span>
                    </td>  <!-- Campo de entrada para el volumen del horario -->
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <button style="background-color:#b300ff; color:white" class="button is-block is-info is-fullwidth" name="AddHorarioRow"><b>Añadir Fila</b></button>  <!-- Botón para añadir una fila nueva a los horarios -->
    <button style="background-color:Tomato; color:white" class="button is-block is-danger is-fullwidth" name="PopHorarioRow"><b>Eliminar Fila</b></button>
</article>

<script>
function updateVolume(slider, index) {
    var volumePercent = document.getElementById('volPercent' + index);
    volumePercent.textContent = slider.value + '/30';
}
</script>

        </div>
    </div>
    <div class="box">
        <input type="hidden" name="nHorariosDataHidden" value="{{nHorariosData}}"/>  <!-- Campo oculto duplicado para el número de horarios -->
        <button style= "background-color:#b300ff; color:white" class="button is-block is-warning is-fullwidth" name="Apply"><b> Aplicar cambios y enviar UDP</b> </button>  <!-- Botón para aplicar los cambios -->
    </div>
</form>
{% endblock %}
